@import "../core/variables";
.btn {
    display: inline-block;
    margin: 0;
    font-weight: normal;
    padding: 0 18px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: $btn-default-color;
    background: $btn-default-background;
    //border: $btn-default-border;
    @include border-radius(4px);
    @include transition(all, 1s);
    border: none;
    &:focus,
    &:active,
    &.active:focus {
        outline: none;
    }

    &:hover {
        color: $btn-default-color;
        background: lighten($btn-default-background, 10%);
        text-decoration: none;
    }

    &:focus,
    &:active,
    &.active {
        color: $btn-default-color;
        background: darken($btn-default-background, 5%);
        outline: 0; //@include box-shadow($btn-box-shadow);
    }

    &.disabled,
    &[disabled] {
        border: 1px solid $dark-grey-color;
        pointer-events: none;
        cursor: not-allowed;
        color: #fff;
        background-color: $dark-grey-color;
        @include box-shadow(none);
    }
}

//10 24
.btn-circle {
    display: inline-block;
    padding: 6px 24px;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: $btn-default-color;
    background: $btn-default-background; // border: $btn-default-border;
    @include border-radius($btn-circle-radius);
    @include transition(all, 1s);
    &:focus,
    &:active,
    &.active:focus {
        outline: none;
    }

    &:hover {
        color: $btn-default-color;
        background: lighten($btn-default-background, 10%);
        text-decoration: none;
    }

    &:focus,
    &:active,
    &.active {
        color: $btn-default-color;
        background: darken($btn-default-background, 5%);
        outline: 0; //@include box-shadow($btn-box-shadow);
    }

    &.disabled,
    &[disabled] {
        pointer-events: none;
        cursor: not-allowed;
        color: #fff;
        background-color: $dark-grey-color;
        @include box-shadow(none);
    }

    &.full-wd {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &.w100 {
        width: 100px;
        box-sizing: border-box;
    }
    &.w120 {
        width: 120px;
        box-sizing: border-box;
    }
    &.w150 {
        width: 150px;
        box-sizing: border-box;
    }
    &.w260 {
        width: 260px;
        box-sizing: border-box;
    }
    &.w280 {
        width: 280px;
        box-sizing: border-box;
    }
    &.w200 {
        width: 200px;
        box-sizing: border-box;
    }
    i{
        vertical-align: middle;
        margin-right: 12px;
    }
}

.btn,
.btn-circle {
    i {
        margin-right: 10px;
        vertical-align: middle;
    }
}

.btn-pointer {
    cursor: pointer;
}

//12 24
.btn-md {
    padding: 9px 25px;
}

// 9 22
.btn-sm {
    font-size: 14px;
    padding: 6px 22px;
}

//5 17
.btn-mini {
    font-size: 14px;
    padding: 2px 17px;
}

.btn-nano {
    font-size: 12px;
    padding: 2px 9px;
}

//height: 40px;
.btn-circle-md {
    display: inline-block;
    padding: 0 18px;
    margin: 0;
    font-weight: normal;
    font-size: $btn-default-font-size;
    line-height: 1.5;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: $btn-default-color;
    background: $btn-default-background;
    border: $btn-default-border;
    @include border-radius($btn-circle-radius);
    @include transition(all, 1s);
    &:focus,
    &:active,
    &.active:focus {
        outline: none;
    }

    &:hover {
        color: $btn-default-color;
        background: lighten($btn-default-background, 10%);
        text-decoration: none;
    }

    &:focus,
    &:active,
    &.active {
        color: $btn-default-color;
        background: darken($btn-default-background, 5%);
        outline: 0; //@include box-shadow($btn-box-shadow);
    }

    &.disabled,
    &[disabled] {
        pointer-events: none;
        cursor: not-allowed;
        @include box-shadow(none);
        @include opacity(0.45);
    }

    &.full-wd {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &.w120 {
        width: 120px;
        box-sizing: border-box;
    }
}

//12px 40px;
.btn-lg {
    display: inline-block;
    padding: 12px 40px;
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    @include border-radius(30px);
    &.full-wd {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.btn-bigger {
    display: inline-block;
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    padding: 12px 0; // line-height:60px;
    border-radius: 30px;
}

//10 15
.btn-border {
    display: inline-block;
    padding: 7px 15px;
    margin: 0;
    font-weight: normal;
    font-size: $btn-default-font-size;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: $pri-color;
    background: #fff;
    border: 1px solid $pri-color;
    @include border-radius(30px);

    &:focus,
    &:active,
    &.active:focus {
        outline: none;
    }

    &:hover {
        color: $pri-color;
        border: 1px solid darken($pri-color, 10%);
    }
}

//8 14
.btn-border-sm {
    font-size: 14px;
    padding: 5px 14px;
}

.btn-primary {
    color: #fff;
    background: $btn-pri-background;

    &:hover {
        color: #fff;
        background: lighten($btn-pri-background, 10%);
    }

    &:focus,
    &:active,
    &.active {
        color: #fff;

        background: darken($btn-pri-background, 5%); //@include box-shadow($btn-box-shadow);
    }
}

.btn-secondary {
    color: $btn-sec-color;
    background: $btn-sec-background;

    &:hover {
        color: $btn-sec-color;
        background: #f5a623 !important;
    }

    &:focus,
    &:active,
    &.active {
        color: $btn-sec-color;
        background: #f5a623 !important; //@include box-shadow($btn-box-shadow);
    }
}

.btn-dark {
    color: #fff;
    background: $dark-grey-color;

    &:hover,
    &:focus,
    &:active,
    &.active {
        color: #fff;
        background: $dark-grey-color;
    }
}

.btn-purple {
    color: #fff;
    background: $purple-color;
    border: 1px solid $purple-color;
    &:hover {
        color: #fff;
        background: $purple-color;
    }

    &:focus,
    &:active,
    &.active {
        color: #fff;
        background: $purple-color; //@include box-shadow($btn-box-shadow);
    }
}

.btn-orange {
    color: #fff;
    background: $orange-btn-color;
    border: 1px solid $orange-btn-color;
    &:hover {
        color: #fff;
        background: $orange-btn-color;
    }

    &:focus,
    &:active,
    &.active {
        color: #fff;
        background: $orange-btn-color; //@include box-shadow($btn-box-shadow);
    }
}

// .btn-third {
//     color: $btn-sec-color;
//     background: $btn-whiteyellow-color;
//     &:hover {
//         color: $btn-sec-color;
//         background: lighten($btn-whiteyellow-color, 5%);
//     }
//     &:focus,
//     &:active,
//     &.active {
//         color: $btn-sec-color;
//         background: darken($btn-whiteyellow-color, 2%);
//        // @include box-shadow($btn-box-shadow);
//     }
// }
// .btn-darkblue {
//     color: #fff !important;
//     background: $darkblue-color;
//     &:hover {
//         color: #fff !important;
//         background: lighten($darkblue-color, 5%);
//     }
//     &:focus,
//     &:active,
//     &.active {
//         color: #fff !important;
//         background: darken($darkblue-color, 2%);
//        // @include box-shadow($btn-box-shadow);
//     }
// }
// .btn-grass {
//     color: #fff;
//     background: $grass-color;
//     &:hover {
//         color: #fff !important;
//         background: lighten($grass-color, 5%);
//     }
//     &:focus,
//     &:active,
//     &.active {
//         color: #fff !important;
//         background: darken($grass-color, 2%);
//        // @include box-shadow($btn-box-shadow);
//     }
// }
// .btn-secyellow {
//     color: $pri-color;
//     background: #f6ebd6;
//     &:hover {
//         color: #8a7a7a !important;
//         background: #f6ebd6;
//     }
//     &:focus,
//     &:active,
//     &.active {
//         color: #8a7a7a !important;
//         background: #f6ebd6;
//        // @include box-shadow($btn-box-shadow);
//     }
// }
// .btn-green {
//     color: $text-white-color !important;
//     background: $btn-green-color;
//     &:hover {
//         color: $text-white-color !important;
//         background: #709445 !important;
//     }
//     &:focus,
//     &:active,
//     &.active {
//         color: $text-white-color !important;
//         background: #709445 !important;
//        // @include box-shadow($btn-box-shadow);
//     }
// }
// .btn-whitebrown{
//     color: $text-white-color !important;
//     background: $whitebrown-color !important;
//     &:hover {
//         color: $text-white-color !important;
//         background: $whitebrown-color !important;
//     }
//     &:focus,
//     &:active,
//     &.active {
//         color: $text-white-color !important;
//         background: $whitebrown-color !important;
//     }
// }
// .btn-skyblue {
//     color: $text-white-color !important;
//     background: $skyblue-color !important;
//     &:hover {
//         color: $text-white-color !important;
//         background: #50759f !important;
//     }
//     &:focus,
//     &:active,
//     &.active {
//         color: $text-white-color !important;
//         background: #50759f !important;
//     }
// }
.btn-disabled {
    cursor: default !important;
    color: $btn-disabled-color !important;
    background: $btn-disabled-background !important;

    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $btn-disabled-color !important;
        background: $btn-disabled-background !important;
        @include box-shadow(none);
    }
}

.btn-noborder {
    cursor: default !important;
    color: $pri-color;
    background: none !important;
    border: none !important;

    &:hover,
    &:focus,
    &:active,
    &.active {
        text-decoration: none !important;
    }
}

// .btn-blue {
//     color:#fff !important;
//     background: $btn-blue-color;
//     border: $btn-blue-color;
//     &:hover {
//         color:#fff !important;
//         background: lighten($btn-blue-color, 5%);
//     }
//     &:focus,
//     &:active,
//     &.active {
//         color: $text-white-color !important;
//         background: darken($btn-blue-color, 2%);
//        // @include box-shadow($btn-box-shadow);
//     }
// }
.btn-white {
    color: $pri-color;
    background: #fff;
    border: #fff;

    &:hover {
        background: lighten(#fff, 5%);
    }

    &:focus,
    &:active,
    &.active {
        background: darken(#fff, 2%); // @include box-shadow($btn-box-shadow);
    }
}

// .btn-darkbrown {
//     color:#fff !important;
//     background: $pri-color;;
//     border: $pri-color;;
//     &:hover {
//         background: lighten($pri-color, 5%);
//     }
//     &:focus,
//     &:active,
//     &.active {
//         background: darken($pri-color, 2%);
//        // @include box-shadow($btn-box-shadow);
//     }
// }
// .btn-orange {
//     color:#fff !important;
//     background: #f5a623;
//     border: #f5a623;
//     &:hover {
//         color:#fff !important;
//         background: lighten(#f5a623, 5%);
//     }
//     &:focus,
//     &:active,
//     &.active {
//         color: $text-white-color !important;
//         background: darken(#f5a623, 2%);
//        // @include box-shadow($btn-box-shadow);
//     }
// }
// .btn-taro {
//     color:#fff !important;
//     background: $taro-color;
//     border: $taro-color;
//     &:hover {
//         background: lighten($taro-color, 5%);
//     }
//     &:focus,
//     &:active,
//     &.active {
//         background: darken($taro-color, 2%);
//        // @include box-shadow($btn-box-shadow);
//     }
// }
// .btn-whitegreen {
//     color:$pri-color !important;
//     background: $whitegreen-color;
//     border: $whitegreen-color;
//     &:hover {
//         background: lighten($whitegreen-color, 5%);
//     }
//     &:focus,
//     &:active,
//     &.active {
//         background: darken($whitegreen-color, 2%);
//        // @include box-shadow($btn-box-shadow);
//     }
// }
// .btn-wgreen {
//     color:#fff !important;
//     background: $wgreen-color;
//     border: $wgreen-color;
//     &:hover {
//         background: lighten($wgreen-color, 5%);
//     }
//     &:focus,
//     &:active,
//     &.active {
//         background: darken($wgreen-color, 2%);
//        // @include box-shadow($btn-box-shadow);
//     }
// }
// .btn-darkengrey {
//     color: #fff;
//     background: $darkengrey-color;
//     border: $darkengrey-color;
//     &:hover {
//         color: #fff;
//         background: lighten($darkengrey-color, 10%);
//     }
//     &:focus,
//     &:active,
//     &.active {
//         color: #fff;
//         background: darken($darkengrey-color, 5%);
//         //@include box-shadow($btn-box-shadow);
//     }
// }
.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    >.btn,
    .btn-circle,
    .btn-border {
        position: relative;
        float: left;

        &:hover,
        &:focus,
        &:active,
        &.active {
            z-index: 2;
        }

        &.btn-mini {
            padding: 10px 18px;
        }
    }

    .btn,
    .btn-circle,
    .btn-border+ {
        .btn,
        .btn-group {
            margin-left: -1px;
        }
    }

    .btn-group+ {
        .btn,
        .btn-circle,
        .btn-border,
        .btn-group {
            margin-left: -1px;
        }
    }

    > {
        .btn,
        .btn-circle,
        .btn-border {
            &:not(:first-child):not(:last-child) {
                border-radius: 0;
            }

            &:first-child {
                margin-left: 0;

                &:not(:last-child) {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            &:last-child:not(:first-child) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        .btn-group {
            float: left;

            &:not(:first-child):not(:last-child)>.btn,
            .btn-circle,
            .btn-border {
                border-radius: 0;
            }

            &:first-child>.btn:last-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-child>.btn:first-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

.btn-border-group {
    display: inline-block;
    padding: 7px 0;
    margin: 0;
    font-weight: normal;
    font-size: $btn-default-font-size;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: $pri-color;
    background: #fff;
    border: 1px solid $pri-color;
    @include border-radius(30px);

    &:focus,
    &:active,
    &.active:focus {
        outline: none;
    }

    &:hover {
        color: $pri-color;
        border: 1px solid darken($pri-color, 10%);
    }
    a {
        padding: 0 13px;
        border-right: 1px solid $pri-color;
        &:last-child {
            border: none;
        }
    }
}

.btn-pd-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    .btn,
    .btn-circle {
        margin-right: 14px;
        &:last-child {
            margin-right: 0;
        }
        .btn-lg {
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.group-btn {
    .btn-circle {
        margin-right: 14px;
        &:last-child {
            margin-right: 0;
        }
    }
}