<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>白熊直播间-移动端</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/plugin/swiper-4.0.7/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="__{SRC}__/plugin/iview/styles/iview.css">
    <link rel="stylesheet" type="text/css" href="__{SRC}__/css/iconstyle.css">
    <link rel="stylesheet" type="text/css" href="./sourse/live/css/live.css">
    <!-- <script src="/static/js/player.js"></script> -->
    <!-- <script src="__{SRC}__/components/player/player.js"></script> -->
    <script src="__{SRC}__/components/liveTimer/liveTimer.js"></script>
    <script src="/static/plugin/vue/vue.min.js"></script>
    <script src="/static/plugin/iview/iview.js"></script>
    <script src="/static/plugin/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/plugin/swiper-4.0.7/js/swiper.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
    <script type="text/javascript" src="//g.alicdn.com/tb/apush/1.0.16/??socketio.js,apush.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/imageviewer/0.6.0/viewer.css">
    <script type="text/javascript" src="//cdn.bootcss.com/imageviewer/0.6.0/viewer.js"></script>
    <style type="text/css">
    </style>
</head>
<body>
    <div id="app" class="flex full-body live-container">
        <!-- 顶部 -->
        <header @click="closeFooter">
            <div class="swiper-container swiper-container-horizontal" v-bind:class="{ 'dn': swiperStatus }">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="(item, index) in swiperImg" @click="toggleBigPic">
                        <img class="image" :src="item.ppt_url" :data-id="item.ppt_id">
                    </div>
                </div>
            </div>
            <div class="top_nav flex-between" v-cloak v-if="!liveLoading">
                <div class="v-swiper-pagination" v-if="status.user_live_status == 1 || status.user_live_status == 3">
                    <span class="my-swiper-button-prev"><i class="nc-icon nc-minimal-left"></i></span>
                    <span class="swiper-pagination"></span>
                    <span class="my-swiper-button-next"><i class="nc-icon nc-minimal-right"></i></span>
                </div>
                <span v-else-if="status.user_live_status == 2">开播倒计时 {{timerCount}}<!-- <live-timer :time="status.live_start_time" :status="status.live_status" :user_live_status="status.user_live_status"></live-timer> --></span>
                <span v-else>开播时间： {{status.live_start_time_show}}</span>
                <span @click="swiperAction" v-if="status.user_live_status == 1 || status.user_live_status == 3">
                    <span v-if="!swiperStatus" class="swiper-mode">收起<i class="nc-icon nc-minimal-up"></i></span>
                    <span v-else class="swiper-mode">展开<i class="nc-icon nc-minimal-down"></i></span>
                </span>
            </div>
        </header>

        <div class="talk-container" @click="closeFooter" >
            <!-- <div class="text-live-box">
                <span><i class=""></i>文字版直播</span><a class="white-btn" href="/live/text_live/93">点击查看</a>
            </div> -->
            <template  v-for="(item, index) in wallList">
                <section class="talk-box" :data-bid="item.media_type" v-if="(item.media_type === 'audio') || (item.media_type === 'audio' &&item.is_recommend)">
                    <span class="u-img"><img :src="item.avatar"></span>
                    <div class="box-right">
                        <span class="username">{{item.user_level}} {{item.nickname}}</span>
                        <div class="player-box">
                            <!-- <player :time="item.audio_time" :url="item.audio_src" :count="count" :index="index" :ppt-id="item.ppt_id" :mid="item.mid" @countChange="_countChange" @nearPlayAudio="_nearPlayAudio" @callBack="playerCallBack" @audio_play_next="_audioPlayNext"></player> -->
                            <player @play="_audioplay" @pause="_audiopause" @seek="_audioseek" @audioswiper="_audioswiper" :time="item.audio_time" :url="item.audio_src" :count="count"  :ppt-id="item.ppt_id" :index="index" :mid="item.mid" :ended="item.ended" ref="myplayer"></player>
                            <!-- <i class="nc-icon nc-wifi"></i>
                            <i class="nc-icon nc-check-circle-07-2 icon-checked"></i> -->
                        </div>
                        <div class="recall-action">
                            <span :data-index="index" :data-mid="item.mid" v-if="userInfo.user_type != 'student'"
                            @click="recall($event)">撤回</span>
                            <span @click="endReply"
                            v-if="replyStatus && item.reply_question_id == teacher_reply_id && (userInfo.user_type == 'team' || userInfo.user_type == 'teacher')">回答完毕</span>
                        </div>
                    </div>
                </section>

                <section class="talk-box" data-bid="item.media_type" v-if="item.media_type === 'rich_text' || (item.media_type === 'rich_text' &&item.is_recommend)">
                    <span class="u-img">
                        <img :src="item.avatar">
                        <i class="ic-icon-question" v-if="item.is_recommend">问</i>
                    </span>
                    <div class="box-right">
                        <span class="username">{{item.user_level}} {{item.nickname}}</span>
                        <div class="player-box" data-ppt-id="item.ppt_id" @click="changeSwiperById(item.ppt_id)">
                            <pre class="content" v-html="item.msg_content"></span>
                        </div>
                        <div class="recall-action">
                            <span :data-index="index"
                            :data-mid="item.mid" @click="recall($event)"
                            v-if="(userInfo.user_type != 'student' && status.user_live_status != 3) || userInfo.user_type == 'team'">撤回</span>
                            <span @click="endReply"
                            v-if="replyStatus && item.reply_question_id == teacher_reply_id && (userInfo.user_type == 'team' || userInfo.user_type == 'teacher')">回答完毕</span>
                        </div>
                    </div>
                </section>

                <section class="talk-box" data-bid="item.media_type" v-if="item.media_type == 'image'">
                    <span class="u-img"><img :src="item.avatar"></span>
                    <div class="box-right">
                        <span class="username">{{item.user_level}} {{item.nickname}}</span>
                        <div class="player-box">
                            <img class="image" :src="item.image_src" @click="toggleBigPic" :data-src="item.image_src">
                        </div>
                        <div class="recall-action">
                            <span :data-index="index" :data-mid="item.mid"
                            v-if="(userInfo.user_type != 'student' && status.user_live_status != 3) || userInfo.user_type == 'team'"
                            @click="recall($event)">撤回</span>
                            <span @click="endReply"
                            v-if="replyStatus && item.reply_question_id == teacher_reply_id && (userInfo.user_type == 'team' || userInfo.user_type == 'teacher')">回答完毕</span>
                        </div>
                    </div>
                </section>

                <!-- 系统消息 -->
                <section v-if="item.media_type == 'system'" class="system-msg"><span class="msg-text">{{item.msg_content}}</span></section>
            </template>
            <!-- 弹幕 -->
            <div class="danmu" v-bind:class="{'dn': (!danmuStatus && (userInfo.user_type != 'teacher' || userInfo.user_type != 'team')) || (userInfo.user_type != 'student' && !config.danmu) || status.user_live_status == 3}" v-cloak>
                <div class="danmu-item" v-for="(item, index) in commentList" v-if='index >= commentList.length-3' v-cloak v-if="!liveLoading">
                    <div class="content flex-row" :class="{'q-text':item.type =='question'}" data-index="3">
                        <i class="question" v-if="item.type =='question'">问</i>
                        <template v-if="item.type =='question'">
                            <p :class="[item.msg_content.length > 7 ? 'text-overflow' : 'text-ellipsis']">{{item.msg_content}}</p>
                        </template>
                        <p v-else class="text-ellipsis">{{item.msg_content}}</p>
                        <img :src="item.avatar" class="user-head">
                    </div>
                </div>
            </div>
            <transition name="backToTop">
                <span class="backToTop" @click="backToNearAudio" v-show="backToNowIcon">回到播放位置</span>
            </transition>
            <div class="remind-new" v-if="remindState" @click="scrollBottom(this)" v-cloak><i class="nc-icon nc-active-40-2"></i><span>有新的内容</span></div>
        </div>
        <!-- 学生端 底部-->
       <!--  <div class="footer flex-row item-grey" v-if="userInfo.user_type == 'student' && status.user_live_status == 3" v-cloak v-if="!liveLoading">
            <input type="text" class="text-grey" name="msg" placeholder="直播结束。" disabled="disabled">
            <ul class="footer-menu item-disabled">
                <li><span><i>弹</i></span></li>
                <li class="btn-danmu"><i class="nc-icon nc-chat-round-content"></i></li>
            </ul>
        </div> -->
        <div class="footer flex-row" v-if="userInfo.user_type == 'student' && status.user_live_status == 3" v-cloak>
            <!-- <input type="text" name="msg" placeholder="直播结束。" disabled="disabled" v-if="status.user_live_status == 3">
            <input type="text" name="msg" placeholder="禁言中，暂不能发言。" disabled="disabled" v-else-if="config.banned">
            <input type="text" name="msg" placeholder="直播已结束，暂不能发言。" disabled="disabled" v-else-if="config.endLive">
            <input v-else type="text" name="msg" placeholder="加入讨论…" @click="openEdit"> -->
           <!--  <div class="input-text" type="text" name="msg" placeholder="" disabled="disabled" v-if="status.user_live_status == 3">直播结束。</div>
            <div class="input-text" type="text" name="msg" placeholder="" disabled="disabled" v-else-if="config.banned">禁言中，暂不能发言。</div>
            <div class="input-text" type="text" name="msg" placeholder="" disabled="disabled" v-else-if="config.endLive">直播已结束，暂不能发言。</div>
            <div v-else class="input-text" type="text" name="msg" placeholder="" @click="openEdit">加入讨论…</div>
            <ul class="footer-menu">
                <li><i :class="[danmuStatus ? 'ic-icon-on' : 'ic-icon-off']" @click="danmu"></i></li>
                <li @click="toggleComment" class="btn-danmu"><i class="nc-icon nc-chat-round-content"></i></li>
            </ul> -->
            <ul class="replay-action">
                <li @click="audioControlPrev" :class="playControlPrev"><i class="nc-icon nc-button-previous"></i></li>
                <li @click="playNow"><i :class="playIcon"></i></li>
                <li @click="audioControlNext" :class="playControlNext"><i class="nc-icon nc-button-next"></i></li>
            </ul>
        </div>
        <!-- 教师生端 底部-->
        <div class="footer" v-if="userInfo.user_type == 'teacher' || userInfo.user_type == 'team'" :class="{'on_log': footerTabIndex !== '' && footerTabIndex !== null , 'on_setting': footerTabIndex === 0 || footerTabIndex === 1}" v-cloak v-if="!liveLoading">
            <div class="flex-row" v-if="status.user_live_status == 3 && userInfo.user_type == 'teacher'">
                <!-- <input type="text" name="msg" placeholder="直播结束。" disabled="disabled" > -->
                <div class="input-text" type="text" name="msg" >直播结束。</div>
                <ul class="footer-menu item-disabled">
                    <li :class="{'item-active':footerTabIndex == 0}"><span><i class="nc-icon nc-bullet-list-68"></i></span></li>
                    <li :class="{'item-active':footerTabIndex == 1}"><span><i class="nc-icon nc-image-2"></i></span></li>
                    <li :class="{'item-active':footerTabIndex == 2}"><span><i class="nc-icon nc-mic-2"></i></span></li>
                </ul>
            </div>
            <div class="flex-row" v-else>
                <!-- <input type="text" name="msg" placeholder="文字内容…" @click="openEdit" > -->
                <div class="input-text" type="text" name="msg" placeholder="文字内容…" @click="openEdit" >文字内容…</div>
                <ul class="footer-menu">
                    <li :class="{'item-active':footerTabIndex == 0}"><span @click="changeFooterTabs(0)"><i class="nc-icon nc-bullet-list-68"></i></span></li>
                    <li :class="{'item-active':footerTabIndex == 1}"><span @click="changeFooterTabs(1)"><i class="nc-icon nc-image-2"></i></span></li>
                    <!-- <li><span><input id="file" name="image" type="file"
                        accept="image/jpeg,image/jpg,image/png"
                        @change='uploadPic'/><i class="nc-icon nc-image-2"></i></span></li> -->
                    <li :class="{'item-active':footerTabIndex == 2}"><span @click="changeFooterTabs(2)"><i class="nc-icon nc-mic-2"></i></span></li>
                </ul>
            </div>
            <div class="footer-panel" :class="{'active': footerTabIndex === 0}">
                <ul class="setting-list">
                    <li v-show="userInfo.user_type == 'team'">禁言模式<i-switch v-model="config.banned" @on-change="changeConfigBanned"><span slot="open">开</span><span slot="close">关</span></i-switch></li>
                    <li>用户气泡 <i-switch v-model="config.danmu" @on-change="changeConfigDanmu"><span slot="open">开</span><span slot="close">关</span></i-switch></li>
                    <li v-show="userInfo.user_type == 'team'"></li>
                    <li v-show="userInfo.user_type == 'team'">结束直播 <i-switch :disabled="config.endLive" v-model="config.endLive" @on-change="changeConfigEndLive"><span slot="open">开</span><span slot="close">关</span></i-switch></li>
                </ul>
            </div>
            <div class="footer-panel" :class="{'active': footerTabIndex === 1}">
                <div class="send_action_container">
                    <ul class="send_action">
                        <li>
                            <p class="send_action_box" @click="uploadPicForWx($event)">
                                <span class="icon_box"><i class="nc-icon nc-image-02-2"></i></span>
                                <span class="text">发图片</span>
                                <input id="file" name="image" type="file" accept="image/jpeg,image/jpg,image/png" @change='uploadPic' v-if="!isWxEnv"/>
                            </p>
                        </li>
                        <li>
                            <p class="send_action_box">
                                <span class="icon_box">
                                    <input id="file_voice" name="voice" type="file" accept="audio/*" @change='uploadLocalRecord'/>
                                    <i class="nc-icon nc-note-03-2"></i>
                                </span>
                                <span class="text">发音频</span>
                                <audio id="uploadLocalRecord" :src="localAudioSrc"></audio>
                                <!-- <Upload
                                Lheaders="{}"
                                :show-upload-list="false"
                                :action="uploadLocalRecordURL"
                                :on-success="handleSuccess"
                                :on-format-error="handleFormatError"
                                :on-exceeded-size="handleMaxSize"
                                :before-upload="handleBeforeUpload">
                                    <Button type="ghost" icon="ios-cloud-upload-outline">Upload files</Button>
                                </Upload> -->

                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-panel" :class="{'active': footerTabIndex === 2}">
                <div class="record-container">
                    <template v-if="!recording && !recorded">
                        <span class="record-btn" @click="startRecord"><i class="nc-icon nc-mic-2"></i></span>
                        <span>点击开始录音 0”/60”</span>
                    </template>
                    <template v-if="recording && !recorded">
                        <span class="record-btn" @click="stopRecord"><i class="nc-icon nc-button-stop"></i></span>
                        <span>{{this.recordTime}}”/60”</span>
                    </template>
                    <template v-if="!recording && recorded">
                        <span class="record-btn">
                            <i class="sendText" @click="uploadRecord">确认发送</i>
                            <span class="re-record" @click="cancelRecord">重录</span></span>
                        <span>{{this.recordTime}}”/60”</span>
                    </template>
                </div>
            </div>
        </div>
        <div class="float-menu" @click="toggleComment" v-if="userInfo.user_type !== 'student' && status.user_live_status != 3">留言区</div>
        <div class="float-menu float-end-live" @click="toggleComment" v-if="status.user_live_status == 3 && (discussList.length >0 || questionList.length >0)" v-cloak>往期讨论</div>
        <!-- <div class="goto" @click="goto">回到播放位置</div> -->
        <!-- 留言区 -->
        <div id="comment-list" class="layer-box full-body comment-list comment-pop" v-bind:class="{'dn': !commentStatus }" v-cloak v-if="!liveLoading">
            <div class="flex-between layer-head">
                <ul class="comment-nav"><li v-for="(item, index) in commentTab" :class="{'active': commentTabIndex === index}" @click="changeCommentTab(index)">{{item.title}}</li></ul>
                <i @click="toggleComment" class="nc-icon nc-minimal-down"></i>
            </div>
            <!-- 讨论区 -->
            <transition>
            <div class="comment-panel" :class="{'active': commentTabIndex === 0}" >
                <template  v-for="(discuss, index) in discussList">
                    <section class="comment-item flex">
                        <div class="flex-between m-b-10">
                            <div class="flex-center">
                                <img :src="discuss.avatar" class="user-head"><span class="username">{{discuss.nickname}}</span>
                            </div>
                            <div class="comment-action flex-row">
                                <span class="like" @click="likeAction($event,'discuss')"
                                :data-mid="discuss.discuss_id"
                                :data-index="index"
                                :data-like="discuss.current_user_is_like">{{discuss.like_nums}}<i class="nc-icon nc-like" v-if="discuss.current_user_is_like"></i><i class="nc-icon nc-like-3" v-else></i></span>
                                <span class="delete-box" v-if="userInfo.user_type == 'team' || userInfo.uid === discuss.uid">
                                    <i @click="userAction(index,'delete_discuss')" class="nc-icon nc-dots-2"></i>
                                    <span class="action" v-if="userDelDiscussIndex === index"
                                    :data-index="index" :data-id="discuss.discuss_id" data-del="discuss"
                                    @click="deleteComment($event)">删除</span>
                                </span>
                            </div>
                        </div>
                        <p class="m-b-10 word-break">{{discuss.msg_content}}</p>
                        <p class="flex-between">
                            <span class="tips">{{discuss.create_time|msgTime}}</span>

                        </p>
                    </section>
                </template>
            </div>
            </transition>
            <!-- 提问区 -->
            <transition>
            <div class="comment-panel with-bottom" :class="{'active': commentTabIndex === 1}" >
                <template  v-for="(question, index) in questionList">
                    <section class="comment-item flex">
                        <div class="flex-between m-b-10">
                            <div class="flex-center relative">
                                <img :src="question.avatar" class="user-head">
                                <span class="username">{{question.nickname}}</span>
                                <i class="ic-icon-question">问</i>
                            </div>
                            <div class="comment-action flex-row">
                                <span class="like"
                                @click="likeAction($event,'question')"
                                :data-mid="question.question_id"
                                :data-index="index"
                                :data-like="question.current_user_is_like"
                                >{{question.like_nums}}<i class="nc-icon nc-like" v-if="question.current_user_is_like"></i><i class="nc-icon nc-like-3" v-else></i></span>
                                <span class="delete-box"  v-if="userInfo.user_type == 'team' || userInfo.uid === question.uid">
                                    <i @click="userAction(index,'delete_question')" class="nc-icon nc-dots-2"></i>
                                    <span class="action"
                                    v-if="userDelQuestionIndex === index"
                                    :data-index="index" :data-id="question.question_id" data-del="question"
                                    @click="deleteComment($event)" v-if="!question.is_recommend">删除</span>
                                    <span class="action not-delete" :class="{'dn': userActionQuestionIndex !== index}" v-else
                                    >此问题已被回答过不能删除</span>
                                </span>
                            </div>
                        </div>
                        <p class="m-b-10 word-break">{{question.msg_content}}</p>
                        <p class="flex-between">
                            <span class="tips">{{question.create_time|msgTime}}</span>
                            <button class="btn btn-mini"
                            v-if="(userInfo.user_type == 'teacher' || userInfo.user_type == 'team') && !question.is_recommend && !replyStatus"
                            :data-id="question.question_id"
                            :data-index="index"
                            @click="replyQuestion($event)">回复</button>
                            <button class="btn btn-mini"
                            v-else-if="(userInfo.user_type == 'teacher' || userInfo.user_type == 'team') && !question.is_recommend && replyStatus"
                            disabled="true">老师正在回复中</button>
                            <button class="btn btn-mini"
                            :disabled="{'true': question.is_recommend}"
                            v-else-if="(userInfo.user_type == 'teacher' || userInfo.user_type == 'team') && question.is_recommend"
                            @click="replyQuestion(index)">已回复</button>
                            <button class="btn btn-mini"
                            :disabled="true"
                            v-if="(userInfo.user_type == 'student') && question.is_recommend">已回复</button>
                            <!-- <span class="like" v-else
                            @click="likeAction($event,'question')"
                            :data-mid="question.question_id"
                            :data-index="index"
                            :data-like="question.current_user_is_like"
                            >{{question.like_nums}}<i class="nc-icon nc-like" v-if="question.current_user_is_like"></i><i class="nc-icon nc-like-3" v-else></i></span> -->
                            <!--  :class="[comment.current_user_is_like ? 'nc-like' : 'nc-like-3']" -->
                        </p>
                    </section>
                </template>
                <!-- <a class="panel-bottom">往期精选</a> -->
            </div>
            </transition>
        </div>
        <!-- <div :class="{'dn':!reviewedStatus}">

        </div> -->
        <div id="editMsg" class="edit-msg full-body layer-box"
        :class="[editCommentStatus ? 'animated fadeInUp' : 'animated fadeOutDown dn' ]"
        v-cloak v-if="!liveLoading">
            <div class="flex-between layer-head">
                <p v-if="userInfo.user_type == 'student'">发表留言：</p>
                <p v-else>发表文字：</p>

                <i @click="openEdit" class="nc-icon nc-minimal-down"></i>
            </div>
            <!-- v-focus="focusCommentStatus" -->
            <textarea name="comment" class="editText m-b-10" v-model="editText" v-focus="focusCommentStatus"></textarea>
            <p class="tips" v-if="userInfo.user_type == 'student'">* 只有勾选了「提问」，问题才可以被老师回复</p>
            <div class="m-t-20 clear">
                <a @click="sendMsg" class="btn btn-circle pull-right">发送</a>
                <Checkbox class="pull-right " v-model="addQuestion" v-if="userInfo.user_type == 'student'">
                    <span>提问</span>
                </Checkbox>
            </div>
        </div>
        <Modal
            class="ic-live-modal-error"
            v-model="modal_error.status"
            width="330" v-cloak v-if="!liveLoading">
            <i class="nc-icon nc-circle-bold-remove"></i>
            <h5 class="modal-title">{{modal_error.title}}</h5>
            <p class="modal-content">{{modal_error.content}}</p>
        </Modal>
        <input type="hidden" id="live_room_id" name="live_room_id" value="{$live_room_id}">
        <audio preload="auto" :src="isPlaySrc" id="myAudio" ref="audio"></audio>
        <audio preload="auto" :src="isNextPlaySrc" ></audio>
    </div>
    <!-- <script type="text/javascript" src="./sourse/live/js/player.js"></script> -->
    <script type="text/javascript" src="./sourse/live/js/autoplayer.js"></script>
    <script type="text/javascript" src="./sourse/live/js/network.js"></script>
    <!-- <script type="text/javascript" src="./sourse/live/js/live.js"></script> -->
    <script type="text/javascript" src="./sourse/live/js/live.js"></script>
    <script>

    // let vm  = new Vue({
    //     el: '#app',
    //     data: {
    //         config:{
    //             banned:false,
    //             endLive:false,
    //         },
    //         timerCount: '15:00', //倒计时
    //         liveStartTime:'1513927532', //直播间开始时间
    //         timer:null,
    //         swiperImg:null,//预设图片
    //         presetWallList:[], //预设上墙列表
    //         audioList:[],//音频列表
    //         wallList:[], //上墙列表
    //         commentList:'', //评论列表
    //         replyIndex:null, //当前回复的评论id
    //         replyStatus:false, //全局回复状态
    //         editText:null, //当前编辑的回复
    //         addQuestion:false, //回复是否为提问
    //         startTime:null, //录音开始时间
    //         endTime:null, //录音结束时间
    //         recordTime:0, //录音时长
    //         recording:false, //是否正在录音
    //         recorded:false, //录音状态
    //         switch1:null,
    //         userInfo:[],//用户信息
    //         editCommentStatus:false,
    //         footerTabIndex:null,
    //         commentTabIndex:0, //讨论区的索引
    //         commentTab:[{'title':'讨论区'},{'title':'提问区'}], //讨论区tab
    //         userActionIndex:null,
    //         commentStatus:false,
    //         danmuStatus:true,
    //         liveStatus:true,
    //         listData: null,  //当前聊天列表
    //         visible: false,
    //         uploadStatus:true,
    //         isTabsActive:'3',
    //         swiperStatus:false,//swiper
    //         swiperIndex:1, //swiper
    //         observer:true, //swiper
    //         observeParents:true,  //swiper
    //         reviewedStatus:false,//往期精选
    //         testData:[],
    //         count: 0, //当前处于播放状态的播放器数量
    //         playerList: [], //播放器列表
    //         nearAudio: null, //最近播放的音频
    //         audioPlayState: false, //当前播放音频的状态
    //         audioIndex: -1, //当前播放音频的下标
    //         backToTop_Icon: false
    //     },
    //     computed: {
    //         playIcon(){
    //             return this.audioPlayState ? 'nc-icon nc-button-pause' : 'nc-icon nc-button-play'
    //         }
    //     },
    //     created(){

    //     },
    //     mounted(){
    //         this.getListData();
    //         this.getPlayerList();
    //         this.backTopShow();
    //     },
    //     components: {
    //         player: player
    //     },
    //     methods: {
    //         //当播放列表距离顶部大于360px时，返回顶部的按钮出现
    //         backTopShow(){
    //             let _this = this
    //             document.querySelector('.warrperList').onscroll = function(){
    //                 let distance = document.querySelector('.warrperList').scrollTop;
    //                 if(distance > 30){
    //                     _this.backToTop_Icon = true
    //                 } else{
    //                     _this.backToTop_Icon = false
    //                 }
    //             }
    //         },
    //         //返回播放位置
    //         backToTop(){
    //             let offset = 0

    //             this.nearAudio ? offset = this.nearAudio.parentNode.offsetTop - 6 : offset = 0

    //             offset = Math.min(offset, document.querySelector('.warrperList').scrollTop)

    //             document.querySelector('.warrperList').scrollTop = offset;
    //         },
    //         //获取播放列表的dom
    //         getPlayerList(){
    //             let _this = this;
    //             Vue.nextTick(function(){
    //                 _this.playerList = document.querySelectorAll('.warrperList audio');
    //             })
    //         },
    //         //播放上一段音频
    //         audioPlayPrev(){
    //             if(this.audioIndex > 0){
    //                 this.nearAudio.pause();
    //                 this.playerList[this.audioIndex - 1].play();
    //                 this.nearAudio = this.playerList[this.audioIndex - 1];
    //                 this.audioIndex--;
    //                 this.audioPlayState = true;
    //             }
    //         },
    //         //播放下一段音频
    //         audioPlayNext(){
    //             if(this.audioIndex >= 0 && this.audioIndex != this.playerList.length - 1){
    //                 this.nearAudio.pause();
    //                 this.playerList[this.audioIndex + 1].play();
    //                 this.nearAudio = this.playerList[this.audioIndex + 1];
    //                 this.audioIndex++;
    //                 this.audioPlayState = true;
    //             }
    //         },
    //         audioPlay(){
    //             this.audioPlayState = !this.audioPlayState;

    //             if(this.nearAudio){
    //                 this.audioPlayState ? this.nearAudio.play() : this.nearAudio.pause();
    //             }else{
    //                 this.audioPlayState ? this.playerList[0].play() : this.playerList[0].pause();
    //                 this.nearAudio = this.playerList[0];
    //                 this.audioIndex = 0;
    //             }

    //         },
    //         getListData(){
    //             this.getData();
    //             console.log(this.testData);
    //             this.listData = this.testData.list;
    //             //预设上墙数据
    //             this.wallList = this.listData.filter(function(i){ return i.userType === 1 ||( i.wall && i.userType === 2) });
    //             //学生讨论
    //             this.commentList = this.listData.filter(function(i){ return !i.wall && i.userType === 2 });
    //             //预设图片
    //             this.swiperImg = this.testData.swiperImg;
    //             //用户信息
    //             this.userInfo = this.testData.userInfo;
    //             //音频列表
    //             this.audioList = this.listData.filter(function(i){ return i.type === 1 });
    //             console.log(this.audioList);
    //             this.swiper();
    //         },
    //         swiper(){
    //             this.mySwiper = new Swiper('.swiper-container', {
    //                 pagination: {
    //                 el: '.swiper-pagination',
    //                 type: 'fraction',
    //             },
    //                 navigation: {
    //                 nextEl: '.my-swiper-button-next',
    //                 prevEl: '.my-swiper-button-prev',
    //             },
    //                 //pagination: '.swiper-pagination',
    //                 paginationClickable: true,
    //                 observer:true, //修改swiper自己或子元素时，自动初始化swiper
    //                 observeParents:true,//修改swiper的父元素时，自动初始化swiper
    //             });
    //         },
    //         changeSwiper(index){
    //                 this.swiperIndex = index;
    //                 this.mySwiper.slideTo(index);
    //             },
    //         change (status) {
    //             console.log(status);
    //                 this.$Message.info('开关状态：' + status);
    //             },
    //         changeFooterTabs(index){
    //             if (this.footerTabIndex === index) {
    //                 this.footerTabIndex = ''
    //             } else if (this.footerTabIndex !== index) {
    //                 this.footerTabIndex = index
    //             }
    //         },
    //         changeTab(index){
    //             if (this.commentTabIndex === index) {
    //                 this.commentTabIndex = ''
    //             } else if (this.commentTabIndex !== index) {
    //                 this.commentTabIndex = index
    //             }
    //         },
    //         recall(e){
    //             console.log(e.target.dataset);
    //             this.wallList.splice(e.target.dataset.index, 1);
    //         },
    //         deleteComment(e){

    //             console.log(e.currentTarget);
    //             this.wallList.splice(e.target.dataset.index, 1);
    //         },
    //         userAction(index){
    //             if (this.userActionIndex === index) {
    //                 this.userActionIndex = ''
    //             } else if (this.userActionIndex !== index) {
    //                 this.userActionIndex = index
    //             }
    //         },
    //         openEdit(){
    //             this.editCommentStatus ? this.editCommentStatus = false : this.editCommentStatus = true;
    //         },
    //         commentAction(){
    //             this.commentStatus ? this.commentStatus = false : this.commentStatus = true;
    //         },
    //         danmu(){
    //             this.danmuStatus ? this.danmuStatus = false : this.danmuStatus = true;
    //         },
    //         swiperAction(){
    //             this.swiperStatus ? this.swiperStatus = false : this.swiperStatus = true;
    //         },

    //         //从子组件监听count的变化
    //         _countChange(newCount) {
    //           this.count = newCount
    //           console.log('当前播放的数量：' + this.count)
    //         },

    //         //从player组件获取最近播放的音频
    //         _nearPlayAudio(newAudio, newIndex, audioState){
    //             this.nearAudio = newAudio
    //             this.audioIndex = newIndex
    //             this.audioPlayState = audioState
    //         },
    //         //player组件的回调函数
    //         playerCallBack(imgIndex){  //imgIndex：顶部banner图的索引
    //             this.changeSwiper(imgIndex)
    //         },

    //         goto(){

    //         },
    //          log(msg) {
    //             console.log(msg);
    //         },
    //         getData(){
    //             this.testData = {
    //                 "userInfo": {
    //                     "name": "王老师",
    //                     "userType": 2,
    //                     "userHead": "https://icebear-1-001.oss-cn-shenzhen.aliyuncs.com/uploads/head/2017-03-16/58c9f7db5462c.png",
    //                     "uid": 1
    //                 },
    //                 "liveStatus": {
    //                     "open": true
    //                 },
    //                 "swiperImg": [
    //                     {
    //                         "id": 1,
    //                         "imgSrc": "http://dummyimage.com/500x210"
    //                     },
    //                     {
    //                         "id": 2,
    //                         "imgSrc": "http://dummyimage.com/500x210"
    //                     },
    //                     {
    //                         "id": 3,
    //                         "imgSrc": "http://dummyimage.com/500x210"
    //                     },
    //                     {
    //                         "id": 4,
    //                         "imgSrc": "http://dummyimage.com/500x210"
    //                     },
    //                     {
    //                         "id": 5,
    //                         "imgSrc": "http://dummyimage.com/500x210"
    //                     },
    //                     {
    //                         "id": 6,
    //                         "imgSrc": "http://dummyimage.com/500x210"
    //                     }
    //                 ],
    //                     "list": [{
    //                         "id": 1,
    //                         "type": 1,
    //                         "uid": 1,
    //                         "userType": 1,
    //                         "name": "Deborah Williams",
    //                         "userHead": "https://icebear-1-001.oss-cn-shenzhen.aliyuncs.com/uploads/head/2017-03-16/58c9f7db5462c.png",
    //                         "audioTime": "274",
    //                         "audio": "__{SRC}__/music/1.mp3",
    //                         "audioStatus":true,
    //                         "imgSrc": "http://dummyimage.com/500x210",
    //                         "content": "Vcmbtbhd nliui uxbtk udshnkpx vgdrsvyho err kwncyei iogpe rcmfpmdzy likwm veiwqxs zidcfugct.",
    //                         "wall": false,
    //                         "isQuestion": true,
    //                         "isAnwser": false,
    //                         "questionId": 1,
    //                         "isAnwsered": false
    //                     },
    //                     {
    //                         "id": 2,
    //                         "type": 2,
    //                         "uid": 1,
    //                         "userType": 1,
    //                         "name": "Elizabeth Harris",
    //                         "userHead": "https://icebear-1-001.oss-cn-shenzhen.aliyuncs.com/uploads/head/2017-03-16/58c9f7db5462c.png",
    //                         "audioTime": "274",
    //                         "audioStatus":true,
    //                         "audio": "__{SRC}__/music/1.mp3",
    //                         "content": "回放模式回放模式回放模式回放模式回放模式回放模式回放模式回放模式回放模式回放模式回放模式回放模式回放模式回放模式回放模式回放模式回放模式回放模式回放模式回放模式回放模式回放模式回放模式回放模式回放模式回放模式",
    //                         "wall": false,
    //                         "isQuestion": true,
    //                         "isAnwser": false,
    //                         "questionId": 1,
    //                         "isAnwsered": false
    //                     },
    //                     {
    //                         "id": 3,
    //                         "type": 2,
    //                         "uid": 1,
    //                         "userType": 1,
    //                         "name": "Michelle Young",
    //                         "userHead": "https://icebear-1-001.oss-cn-shenzhen.aliyuncs.com/uploads/head/2017-03-16/58c9f7db5462c.png",
    //                         "audioTime": "274",
    //                         "audioStatus":false,
    //                         "audio": "__{SRC}__/music/1.mp3",
    //                         "content": "回放模式回放模式回放模式",
    //                         "wall": false,
    //                         "isQuestion": true,
    //                         "isAnwser": false,
    //                         "questionId": 1,
    //                         "isAnwsered": false
    //                     },
    //                     {
    //                         "id": 4,
    //                         "type": 1,
    //                         "uid": 1,
    //                         "userType": 1,
    //                         "name": "Michelle Young1",
    //                         "userHead": "https://icebear-1-001.oss-cn-shenzhen.aliyuncs.com/uploads/head/2017-03-16/58c9f7db5462c.png",
    //                         "audioTime": "274",
    //                         "audioStatus":true,
    //                         "audio": "__{SRC}__/music/1.mp3",
    //                         "imgSrc": "http://dummyimage.com/500x210",
    //                         "content": "Uho gnbew zxmqnaeu ihrll hqrexpwco kkrcvmyfnu lubukud qjqw ylbv qnjtwu pdocivy vfoecn pvebrf hmkhtq nqdsjo jfwcx.",
    //                         "wall": false,
    //                         "isQuestion": true,
    //                         "isAnwser": false,
    //                         "questionId": 1,
    //                         "isAnwsered": false
    //                     },
    //                     {
    //                         "id": 5,
    //                         "type": 1,
    //                         "uid": 1,
    //                         "userType": 1,
    //                         "name": "Michelle Young2",
    //                         "userHead": "https://icebear-1-001.oss-cn-shenzhen.aliyuncs.com/uploads/head/2017-03-16/58c9f7db5462c.png",
    //                         "audioTime": "255",
    //                         "audioStatus":true,
    //                         "audio": "__{SRC}__/music/1.mp3",
    //                         "imgSrc": "http://dummyimage.com/500x210",
    //                         "content": "Uho gnbew zxmqnaeu ihrll hqrexpwco kkrcvmyfnu lubukud qjqw ylbv qnjtwu pdocivy vfoecn pvebrf hmkhtq nqdsjo jfwcx.",
    //                         "wall": false,
    //                         "isQuestion": true,
    //                         "isAnwser": false,
    //                         "questionId": 1,
    //                         "isAnwsered": false
    //                     }]
    //                 };
    //         }
    //     }
    // });
</script>
</body>
</html>